
:root {
  /*Paleta*/
  --eco-primary: #2E7D32;   /* Verde Floresta*/
  --eco-action: #81C784;    /* Verde Folha */
  --eco-bg: #F9FBE7;        /* Fundo */
  --eco-text: #263238;      /* Constrate */
  
  --theme-color: var(--eco-primary);
}

body {
  background-color: var(--eco-bg);
  color: var(--eco-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}


.markdown-section {
  max-width: 850px; /* Largura da linha*/
}

.markdown-section h1, 
.markdown-section h2, 
.markdown-section h3 {
  color: var(--eco-primary);
  font-weight: 600;
}

/* Links */
.markdown-section a {
  color: var(--eco-primary);
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.markdown-section a:hover {
  color: var(--eco-action);
  border-bottom: 2px solid var(--eco-action); /* Efeito ao passar o mouse */
}

/* Citações e Callouts - Destacar*/
.markdown-section blockquote {
  border-left: 5px solid var(--eco-action);
  background-color: rgba(129, 199, 132, 0.1); 
  color: var(--eco-text);
  border-radius: 0 8px 8px 0;
  padding: 15px 20px;
}

.sidebar {
  background-color: #FFFFFF; 
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05); 
}

.sidebar ul li.active > a {
  color: var(--eco-primary);
  font-weight: bold;
  border-right: 3px solid var(--eco-primary);
}

h1.app-name img {
  max-width: 250px; 
  height: auto;     
  margin-top: 15px; 
}