# Must be at least 32 characters long and contain a mix of uppercase, lowercase, numbers, and special characters for security.
JWT_SECRET = "sUPer@sEcreT!key.for-jwt_tOkEn-Generat1on"

# The domain of the website it will be running on.
DOMAIN = "ecoquest.org"

POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = '123456'
POSTGRES_DB = 'postgres'

# Alternative connection URL
#DATABASE_URL = 'postgres://postgres:123456@localhost:5432/postgres'

# Primary connection URL for PostgreSQL
POSTGRES_URL = 'postgres://postgres:123456@localhost:5432/postgres'

# Set the timezone (GMT-3)
TZ = 'America/Sao_Paulo'

# SSL/TLS-enabled connection URL
#TLS_POSTGRES_DATABASE_URL =

# Alternative SSL/TLS-enabled connection URL
#TLS_DATABASE_URL =

# Database host
#PGHOST = 'localhost'

# Database port
#PGPORT = '5432'

# Database user
#PGUSERNAME = 'postgres'

# Database password
#PGPASSWORD = '123456'

# Database name
#PGDATABASE = 'postgres'

# Paths to SSL/TLS certificate and key files for secure database connections
CERTIFICATE_PATH = "./localhost.pem"
CERTIFICATE_KEY_PATH = "./localhost-key.pem"